@font-face{
    font-family: 'naver';
    src : url(../font/NanumFontSetup_TTF_SQUARE/NanumSquareB.ttf)
}

body{
    font-family: 'naver';
    margin: 0;
}

h5,h6{
    text-align: center;
    margin: 5px;
    padding-top: 10px;
}

i {
    font-size: 25px;
    float : right;
    padding-right: 10px;
}

.banner p{
    transition: all 0.5s;
    transform: translateX(100px);
}

.banner:hover p{
    transform: translateX(50px);
    text-align: right;
}


.banner{
    position: fixed;
    text-align: left;
    color : white;
    background-color: #6666FF;
    width : 200px;
    height: 100vh;
    transform: translate(-100px);
    clear : both;
    z-index: 2;

}

.icon{
    transform: translate(-100px);
}

.banner:hover{
    transform: translate(0px);
    transition: all 1s;
    text-align: right;
}



.nav-container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 150px ;
    padding-right: 300px ;
    width: 100vw;
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4);
    
}

.form-control{
    width: 200px;
    height: 25px;
}

.btn-outline-secondary{
    width: 50px;
    height: 30px;
}

.sub-button{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 200px;
    font-size: 30px;
    margin-right: 200px;
    /* opacity: 50%; */
    
}

.badge{
    position : absolute;
    background-color: red;
    opacity: 100%;
    left: 20px;
    border-radius: 20%;
    font-size : 15px;
  }
  
  #badge2{
    position : absolute;
    background-color: red;
    opacity: 100%;
    left: 70px;
    border-radius: 20%;
    font-size : 15px;
  }


  .main{
    position: relative;
    left : 150px;
    z-index: 1;
  }

  .card-section{
    display: flex;
  }

  .card{
    padding: 10px;
    border-radius: 5%;
    box-shadow : 2px 3px 5px 0px;
    margin-right: 100px;

  }

  .card-body{
    display: flex;
    font-size: 20px;
  }

canvas{
    float: left;
    width : 800px;
}

  .chartcard{
    float : right;
    margin-top: 100px;
    margin-right: 500px;
    width: 1000px;
    height : 800px;
  }