body {
    background-color: grey;
}

div {
    box-sizing: border-box;
}

p {
    margin: 0;
    margin-top: 10px;
}

input{
    font-size: 20px;
    width : 550px;
    box-sizing: border-box;
}

input[type=text]{
    width : 250px;
}

.form {
    margin: auto;
    margin-top: 10%;
    padding : 40px;

    width: 700px;
    height: 500px;
    

    background-color: white;
}

.nameTag{
    font-size: 20px;
    width : 45%;
    float : left;
    margin: 0;
}
