@font-face {
    font-family: 'naver-font';
    src : url("../font/NanumFontSetup_TTF_SQUARE/NanumSquareR.ttf")
}

div {
    box-sizing: border-box;
}

body {
    margin : 0px;
}

.mainTemplate{
    display:flex;
    flex-direction: row;
    height : 100%;
    align-items: center;
    /* background: rgb(255,255,255); */
    /* background: linear-gradient(90deg, rgba(255,255,255,0.46262254901960786) 54%, rgba(43,120,255,0.23573179271708689) 91%, rgba(81,47,219,0.19931722689075626) 100%); */
}

.container{
    display : flex;
    width : 100%;
    height : 100%;

    flex-direction: column;
    flex-grow: 1;
}

.item{
    margin-top: 2rem;
    margin-left : 20%;
    width : 90%;
    height : 100%;
    
}

button{
    color : white;
    background-color: black;
}

p {
    font-size : large;
}

.image-wrapper{
    position: relative;
    margin-left : 3rem;
    width : 90%;
    height: 90%;
    overflow:scroll;
    flex-shrink: 1;
    
}

.image-wrapper .image{
    position: absolute;
    top: 0;
    left:3rem;
    width : 90%;
    height: 90%;
}

.line1{
    position: relative;
    width: 50rem;
    height: 0.5rem;
    background: #23bbb1;
}

.line2{
    position: relative;
    width: 50rem;
    height: 0.5rem;
    background: #512FDB;
}

.line3{
    position: relative;
    width: 50rem;
    height: 0.5rem;
    background: #013183;
}

.line4{
    position: relative;
    width: 50rem;
    height: 0.5rem;
    background: #2172FF;

}

.profile{
width : 100px; 
display : block; 
margin-left : auto; 
margin-right : auto;
}

.content{
    font-size : 20px; 
    text-align: center;
}

.box{
    width : 200px;
    background: cadetblue;
    margin-left : 10px;
    padding : 40px;
    width : 100px; 
    margin-left : auto; 
    margin-right : auto;
    color : white;
    box-shadow: 5px 5px gray;
}


.container {
    width : 800px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    width : 100%;
    height: 100px;
    background: white;
}

.content{
    width : 80%;
    height : 200px;
    background: white;
    text-align: left;

    margin-left: 10px;
    float : left;
}


.right{
    float : right;
    width : 15%;
    height : 200px;
    background : white;
}


.img img{
    width : 10%;
    height : 10%;
    float : left;
    margin-left : 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.headerText{
    margin-left: 100px;
    padding : 25px 0px;
}


h4,h2,p{
    margin : 0;
}

.class a{
    font-size: 16px;
    text-decoration: none;
}


.main-background {
    width: 100%;
    height : 500px;
    background-image: url("../img/back_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding : 1px;
    position: relative;
    /* filter: brightness(70%) saturate(80%); */
}

.main-title{
    text-align: center;
    color :white;
    font-size : 40px;
    margin : auto;
    margin-top: 9rem;
    margin-bottom: 2rem;
    
    
}

.main-content{
    text-align: center;
    color : white;
    font-size : 30px;
    margin : auto;
    margin-bottom: 2rem;
}

.main-button{
    position: absolute;

    left : 0;
    right : 0;
    margin : auto;
    width : 150px;
    z-index: 2;


    padding: 20px 20px;
    font-size : 20px;
    background: white;
    border : none;
    border-radius: 5px;
}

.main-button:hover{
    background-color: #eee;
}

.main-button:active{
    background-color: navy;
}

.main-button:focus{
    background-color: darkblue;
}


.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item{
    display: flex;
    text-align: center;

    color : black;
    font-size: 30px;
    width : 100px;
    height : 50px;
    background-color: white;
    padding-top: 3px;
}

.test-template {
    display: flex;
    justify-content: space-around;

    margin : auto;
    margin-top: 10%;
    
    flex-direction: row;
    flex-wrap: wrap;

    font-size: 30px;
}

.sub-template{
    text-align: center;
}

.sub-template p {
    margin-top : 20px;
    margin-left: 20px;
    text-align: center;
    font-size: 20px;
    width : 300px
}

.shop-item img {
    margin-top: 50px;
    width : 300px;
    height: 300px;
    object-fit: cover
}


/* 폼 css */


input{
    font-size: 20px;
    width : 550px;
    box-sizing: border-box;
}

input[type=text]{
    margin-top: 20px;
    width : 250px;
}

.form {
    margin: auto;
    margin-top: 10%;
    padding : 40px;

    width: 700px;
    height: 500px;
    
    border: solid 2px black;

    background-color: white;
}

.nameTag{
    font-size: 20px;
    width : 45%;
    float : left;
    margin-top: 20px;
}

/* 태블릿 사이즈 */
@media screen and (max-width:1200px) {
    .main-title{
        font-size : 70px;
    }
    .sub-template{
        width : 50%;
    }
}

@media screen and (max-width : 768px){
    .main-title{
        font-size : 50px;
    }
    .test-template{
        flex-direction: column;
    }
}

.pseudo::after {
    content : "안녕";
    color : red;
    font-size : 30px;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    background : white 
}

progress::webkit-progess-bar {
    background-color : #eee;
    border-radius : 2px;
}

progress::-webkit-progress-value{
    background-color: red;
    border-radius : 2px;
}