div {
    box-sizing: border-box;
}

body {
    margin : 0px;
    background-color: skyblue;
}

td,th {
    border-bottom : solid 1px #c2d3de;
}

table {
    border-collapse: collapse;
    text-align: center;
    background-color: white;
    width : 600px;
}

img {
    float : left;
}

.main-box{
    position: relative;
    /* width : 1000px;
    height: 1000px; */
    margin-left : 12.5rem;
    margin-top: 3rem;
}

.cart-button {
    margin-left: 230px;
    color : white;
    background-color: navy;
    width : 200px;
    height: 50px;
    cursor : pointer;

}

.cart-button:hover{
    background-color: chocolate;
}


.cart-button:focus{
    background-color: aqua;
}


.cart-button:active {
    background-color: brown;
    border : 2px solid black;
}

.input-test{
    font-size : 20px;
}

.input-test:focus{
    border : 2px solid red;
}